node_modules
**/node_modules
**/dist
**/.vite
.git
.github
.env
.env.*
!.env.example
models/
storage/
dataset/raw/
dataset/processed/
uploads/*
logs/
*.log
index.log
docs/benchmarks
**/*.tsbuildinfo
.DS_Store
Thumbs.db
.vscode
.idea
README.md
